body {
    max-height: 100vh;
}

input {
    height: 56px;
}

.form-control::placeholder {
    color: var(--neutral400-color);
    font-weight: 500;
}

.form-control::-ms-value {
    font-size: 16px;
}

.form-check-input:checked {
    background-color: var(--tertiary1-color);
    border: none;
}

@media (max-width: 700px) {
    .banner-section {
        display: none;
    }
}
